    <footer class="footer" style="position: absolute; bottom: 0;  width: 100%;  height: 2.5rem">
        <div class="container">

            <p>
                <a>Created by Ismael Alexis Perez</a> | <a href="https://github.com/iperez99" target="_blank">Check
                    out my Github Repo </a><i class="fab fa-github-square fa-2x"></i>

            </p>
        </div>
    </footer>
