    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">News Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"
                    style="padding-right: 0.5rem; padding-left: 0.5rem; padding-top: 0.9rem; padding-bottom: 0.9rem">Home
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#"
                    style="padding-right: 0.5rem; padding-left: 0.5rem; padding-top: 0.9rem; padding-bottom: 0.9rem">Saved
                    Articles</a>
                <button type="button" class="btn btn-danger"
                    style="padding: 10px; margin-top: 10px; margin-left: 10px;"><a href="/scrape">Scrape New Articles</a></button>
                <button type="button" class="btn btn-primary"
                    style="padding: 10px; margin-top: 10px; margin-left: 10px;">Clear All Articles</button>
            </div>
        </div>
    </nav>
