<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Mongo Scraper</h1>
        <p class="lead">Articles from <a href="https://www.polygon.com/">Polycon.com</a></p>

    </div>
</div>

<div class="container-fluid">
    <div class="card">
        {{#each article}}
        <div class="card-header">

            <h3>
                <a href="#">Placeholder Article link</a>
                <button class="btn btn-success">Save Article</button>
            </h3>
            {{/each article}}
        </div>
    </div>
</div>